*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: rgb(104, 104, 253);
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    margin-left: 20px;
}

.boton-right{
    margin-right: 15px;
}

.icon-cart{
    font-size: 1.5em;
}

.counter{
    font-size: 1.5em;
}

.card{
    height: 370px;
}

.container__card{
    background-color: rgb(101, 101, 238);
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.img{
    height: 55%;
    object-fit: contain;
}

.producto{
    background-color: rgb(126, 165, 255);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10px;
    padding-top: 15px;
}

.producto p{
    color: white;
}

.boton-eliminar{
    border: none;
    background-color: rgb(126, 165, 255);
    padding-bottom: 15px;
}

.precioT{
    display: inline-block;
    background-color: rgb(126, 165, 255);
    margin-left: 13px;
    padding: 5px 10px;
    border-radius: 10px;
}